<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/c"

       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
        https://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd"
       default-init-method="turnOnLights"
       default-destroy-method="turnOffLights">

  <!--  <bean id="audience"
          class="com.springination.springidol.Audience" />


    <aop:config>
        <aop:aspect id = "audience" ref="audience">
            <aop:pointcut id="performance" expression=
                    "execution(* com.springination.springidol.Performer.perform(..))"
            />
            <aop:before
                    pointcut-ref="performance"
                    method="takeSeats" />

            <aop:before
                    pointcut-ref="performance"

                    method="turnOffCellPhones" />
            <aop:after-returning
                    pointcut-ref="performance"
                    method="applaud" />
            <aop:after-throwing
                    pointcut-ref="performance"
                    method="demandRefund" />
        </aop:aspect>
    </aop:config>

    <aop:config>
        <aop:aspect ref="audience">
            <aop:pointcut id="performance2" expression=
                    "execution(* com.springination.springidol.Performer.perform(..))"
            />

            <aop:around
                    pointcut-ref="performance2"
                    method="watchPerformance" />
        </aop:aspect>
    </aop:config> -->


    <bean id="magician"
          class="com.springination.springidol.Magician"/>
    <bean id = "volunteer"
      class="com.springination.springidol.Volunteer"/>

    <aop:config>
        <aop:aspect ref="magician">
            <aop:pointcut id="thinking"
                          expression="execution(*
com.springination.springidol.Thinker.thinkSomething(String))
and args(thoughts)" />
            <aop:before
                    pointcut-ref="thinking"
                    method="interceptThoughts"
                    arg-names="thoughts" />
        </aop:aspect>
    </aop:config>

</beans>

